*{
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
    color: aliceblue;
    margin: 0;
    padding: 0;
}

nav{
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    background-color: black;
    position: fixed;
    
}

span{
    color: #fcfc;
}

.logo{
    cursor: pointer;
    padding-bottom: 5px;
}

#content{
    float: right;
}

nav ul{
    list-style-type: none;
    align-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 20px;
    padding-bottom: 5px;

}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: #fcfc;
}


#hero{
    float: left;
    padding-left: 10px;
    display: grid;
    width: 100%;
    background-color: rgb(39, 37, 37);
    margin-top: 75px;
    grid-template-columns: 1fr 1fr;

}

button{
    margin: 60px 40px 20px 40px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(89, 80, 80);
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(99, 99, 180);
}


.aa img{
    max-width: 70%;
    max-height: 50%;
    margin-left: 50px;
    margin-top: 30px;
}

.aa h1,h4,h3{
    padding-left: 40px;
    padding-bottom: 20px;
}

.aa h4{
    padding-top: 40px;
}

#about{
    background-color: black;
    padding: 20px 40px 20px 40px;
    padding-top: 460px;
}

#about h2,p{
    padding: 20px;
}

#about p{
    border: 2px solid white;
    border-radius: 3px;
    padding: 30px 30px 30px 30px;
}

#education{
    background-color: rgb(39, 37, 37);
    padding: 30px 30px 30px 50px;
}

.box{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    color: black;
    align-content: center;
}
.card{
    border: solid 1px;
    border-radius: 10px;
    background-color: #504949;
    color: black;
}

.card h5{
    padding: 10px 20px 10px 70px;
    align-items: center;
    border: 1px;
    color: #ffffff;
}

.pra{
    margin: 10px;
}

.pra p{
    padding: 3px 10px 3px 10px;
    color: #a59c9c;
    border: 20px;
    justify-self: center;
}

#skills{
    background-color: black;
    padding: 30px 30px 30px 50px;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

.box1{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    color: black;
    align-content: center;
}


ul{
    padding-left: 20px;
    margin-bottom: 20px;
}

li{
    padding-bottom: 2px;
    color: #a59c9c;
}



#projects{
    background-color: rgb(39, 37, 37);
    padding: 20px 40px 20px 60px;
}


.box2{
    display: grid;
    padding: 10px;
    gap: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    color: black;
    align-content: center;
}

.box2 .card{
    padding-bottom: 10px;
}

.box2 .card h5{
    padding-left: 250px;
}

.box2 .card p{
    color: #a59c9c;
}

.box2 .card a:link{
    text-decoration: none;
    margin-left: 300px;
    border: #a59c9c solid 1px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(63, 61, 61);
}


#contact{
    background-color: black ;
    padding: 40px 60px 40px 60px;
    
}

#contact fieldset div p{
    padding: 5px;
    margin: 5px;
    padding-left: 200px;
}

